<div class='row justify-content-center align-items-center' style='min-height: 75vh;'>
  <div class='col-12'>
    <div class='container d-flex justify-content-center'>
      <div>
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='field mb-1'>
            <%= f.label :phone_number, class: 'form-label' %><br/>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: 'phone number', class: 'form-control' %>
            <div class='form-text'>Use this format +38(XXX)XXX-XX-XX</div>
          </div>

          <div class='field mb-1'>
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
            <div class='form-text'>Min 6 symbols, min 1 up and 1 low, min 1 number</div>
          </div>

          <div class='mb-1'>
            <div class='row'>
              <div class='col' style='width: 30%;'>
                <%= f.submit 'Log in', class: 'actions btn btn-primary w-100' %>
              </div>
              <div class='col' style='width: 40%;'></div>
              <div class='col' style='width: 30%;'>
                <%= link_to 'Sign up', new_registration_path(resource_name), class: 'actions btn btn-primary w-100' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
